body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}  

.image {
    width: 100%;
    height: auto;
}

.page-content-wrapper {
    margin-top: 56px;
    height: calc(100vh - 56px);
}

.image.experience-screenshots {
    border: 1px solid black;
    box-shadow: 0px 0px 40px -25px rgba(0, 0, 0, .4);
    cursor: pointer;
}

.social-links {
    padding: 0;

    a {
        padding: 5px;
    }
}

.form-control.contact-message {
    height: 10vh;
    max-height: 20vh;
}

.contact-social-links {
    padding: 0;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .contact-text {
        text-align: center;
    }
}

.header {
    opacity: 1;
    background-color: white;
    box-shadow: 0 1px 3px gray;
    transition: opacity .2s ease-in;
}

.opacity-header {
    opacity: 0;
    transition: opacity .01s;
}

.modal-header.image-viewer {
    box-shadow: 0 1px 3px gray;
    border-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.image-viewer-carousel {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
}

.image-viewer-image {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: calc(100vh - 85px);
    max-width: 100%;
}

.image-viewer-carousel .carousel-inner {
    height: 100%;
    display: flex;
    align-items: center;
}

.carousel-caption {
    padding-bottom: 0px;
    font-size: 1rem;
}

.about-me-modal .modal-content {
    background-color: transparent;
}

.about-me-modal .modal-header {
    border-bottom: none;
    background: linear-gradient(to bottom, rgb(0, 0, 0.5), rgba(255, 255, 255, 0));
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.about-me-modal .modal-header .close {
    color: white;
}

.jumbotron.experience-jumbotron {
    background-color: white;
    margin-bottom: 0;
}

.jumbotron.skills-jumbotron {
    margin-bottom: 0;
}

.jumbotron.picture-viewer-jumbotron {
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 0;
}

.picture-viewer-desc {
    padding-top: 10%;
}

.jumbotron.about-me-header {
    margin-bottom: 0em;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.row.experience-row {
    margin-top: 35px;
    margin-bottom: 30px;
}

.fade-in {
    opacity: 0;
    transform: translateY(5%);
    transition: opacity .5s ease-in, transform .5s ease-in;
}

.fade-in.appear { 
    opacity: 1;
    transform: translateY(0);
}

.modal {
    padding: 0 !important;
}

.modal .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}

.modal .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.modal .modal-body {
    overflow-y: auto;
    padding: 0;
}

.modal .modal-body .experience-modal-body {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.experience-modal-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 100%;
}

.skills ul {
    padding-inline-start: 0em;
}

.skills ul li {
    list-style: none;
    display: inline-block;
    margin-inline-end: 1rem;
    padding: .5em .5em;
    margin: 3px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: #007bff;
    color: white;
}

.picture-viewer-image-wrapper {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}

.picture-viewer-image {
    position: absolute;
    filter: grayscale(100%);
    transition: transform 1s;
}

.picture-viewer-image:hover {
    filter: none;
    transform: scale(1.0639);
    cursor: pointer;
}

.column-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 576px) {
    .body {
      background-color: lightblue;
    }
  }